.getSection {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
    gap: 50px;
}

button.button {
    width: 120px; 
    border: none;
    cursor: pointer;
}

.employeePhoto {
    width: 70px;
    height: 70px;
}

.cards__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 29px;
    width: 100%;
}