@import "../../variables.scss";

.registrationForm {
    display: flex;
    flex-direction: column;
    width: 380px;
}

.input__wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.input__hint {
    font-size: 12px;
    line-height: 14px;
    margin: 4px 0 0px 16px;
    color: $form-text-color;
}

.singleInput {
    &__container {
        position: relative;
        &.invalid {
            > input {
                outline: 2px solid $error-color;
                outline-offset: -2px;
            }
            > .singleInput__label.input__fieled {
                color: $error-color;
            }
            > label {
                color: $error-color;
            }
        }
    }
    &__label {
        position: absolute;
        padding: 0 4px;
        left: 11px;
        top: 16px;
        background-color: transparent;
        color: $form-text-color;
        transition: 0.2s ease-in-out;
        user-select: none;
        z-index: -1;
    }
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    &:focus + .singleInput__label {
        z-index: 3;
        top: -8px;
        font-size: 12px;
        color: $form-text-color;
        background-color: $background-color;
    }
}

.input__fieled {
    z-index: 3;
    top: -8px;
    font-size: 12px;
    background-color: $background-color;
}

.radio {
    &__wrapper {
        margin-top: 20px;
        > legend {
            margin-bottom: 11px;
            line-height: $paragraph-line-height;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 7px;
        line-height: $paragraph-line-height;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__button {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 12px;
        border: 1px solid $form-border-color;
        border-radius: 50%;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $radio-button-color;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }
    }
}

input[type="radio"]:checked + .radio__button {
    border-color: $radio-button-color;
}

input[type="radio"]:checked + .radio__button::before {
    display: block;
}

input[type="radio"] {
    display: none;
}

.file__wrapper {
    display: inline-flex;
    align-items: center;
    outline: 1px solid $form-border-color;
    outline-offset: -1px;
    border-radius: 4px;
    margin-top: 47px;
    & ~ label {
        margin-bottom: 32px
    }
    &.invalid {
        outline: 2px solid $error-color;
        outline-offset: -2px;
        &> .file__label {
            outline: 2px solid $error-color;
            outline-offset: -2px;
        }
        & ~ label {
            color: $error-color;
        }
    }
    
}

.file__input {
    display: none;
}

.file__label {
    z-index: 3;
    font-size: $paragraph-font-size;
    line-height: $paragraph-line-height;
    outline: 1px solid $black-color;
    outline-offset: -1px;
    color: $black-color;
    cursor: pointer;
    padding: 14px 15px;
    border-radius: 4px 0 0 4px;
}

.file__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 14px 16px;
    user-select: none;
    color: $form-text-color;
    &.added {
        color: $black-color;
    }
}
