.employeeCard {
    width: 370px;
    height: 254px;
    background-color: #fff;
    border-radius: 16px;
    text-align: center;
    padding: 20px;
    > p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.name {
    margin: 20px 0;
}
