@import "./variables.scss";

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    font-family: $font-family;
}

h1 {
    font-size: $heading-font-size;
    line-height: $heading-line-height;
    color: #000;
    font-weight: 400;
    text-align: center;
}

p {
    font-size: $paragraph-font-size;
    line-height: $paragraph-line-height;
    color: #000;
    font-weight: 400;
    text-align: center;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    font-size: $paragraph-font-size;
    line-height: $paragraph-line-height;
    width: 100px;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    font-family: $font-family;
    font-size: $paragraph-font-size;
    line-height: $paragraph-line-height;
    padding: 13px 0 13px 16px;
    border-radius: 4px;
    border: 1px solid $form-border-color;
    background-color: transparent;
    &:focus {
        outline: none;
    }
    &[type="submit"] {
        margin: 0 auto;
    }
}

.button {
    font-family: $font-family;
    font-size: $paragraph-font-size;
    font-weight: 400;
    line-height: $paragraph-line-height;
    background-color: $main-color;
    padding: 4px 0;
    border-radius: 80px;
    border: none;
    transition: 0.3s ease-in-out;
    &:hover {
        background-color: $main-color-hover;
    }
    &:disabled {
        background-color: $disabled-color;
        color: #fff;
        border: none;
    }
}
