@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap");

$main-color: #f4e041;
$main-color-hover: #FFE302;
$secondary-color: #00bdd3;
$background-color: #f8f8f8;
$form-text-color: #7E7E7E;
$form-border-color: #D0CFCF;
$disabled-color: #B4B4B4;
$radio-button-color: #00BDD3;

$font-family: "Nunito", sans-serif;

$heading-font-size: 40px;
$heading-line-height: 40px;

$paragraph-font-size: 16px;
$paragraph-line-height: 26px;

$desctop-width: 1170px;
$narrow-desctop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 360px;
